
<div style="background-image: url('../assets/fondo.jpg');">
<mat-toolbar style="background-color: rgb(38, 121, 141); color:rgb(255, 255, 255);">
  <span>CRIPTOGRAFÍA</span>
</mat-toolbar>


<div style="margin-top: 2%; text-align: center;">

  <div class="row" style="margin-bottom: 1%;">
    <div class="col-sm"></div>
    <div class="col-sm">
      <p-selectButton [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" (click)="CambiarCifrado()"></p-selectButton>  
    </div>
    <div class="col-sm"></div>
  </div>
  

  <div class="row" style="margin-bottom: 1%;"  *ngIf="selectedCity.code==='1'">
    <div class="col-sm"></div>
    <div class="col-sm">
     <h1><b>Ingrese número de saltos</b></h1> 
    </div>
    <div class="col-sm"></div>
  </div>

  <div class="row" style="margin-bottom: 1%;"  *ngIf="selectedCity.code==='2'">
    <div class="col-sm"></div>
    <div class="col-sm">
     <h1><b>Cifra el texto</b></h1> 
    </div>
    <div class="col-sm"></div>
  </div>

  <div class="row" style="margin-bottom: 3%;" *ngIf="selectedCity.code==='1'">
    <div class="col-sm">
      <img src="../assets/flecha_izq.png">
    </div>
    <div class="col-sm">
        <input id="float-input" type="text" [(ngModel)]="saltos" (keyup)="NumeroSaltos()" pInputText>
    </div>
    <div class="col-sm" >
      <img src="../assets/flecha_der.png">
    </div>
  </div>

  <div class="row" style="margin-bottom: 3%;" *ngIf="selectedCity.code==='2'">
    <div class="col-sm">
       <img src="../assets/flecha_izq.png">
    </div>
    <div class="col-sm" style="margin-bottom: 5%;">
        
    </div>
    <div class="col-sm">
      <img src="../assets/flecha_der.png">
    </div>
  </div>

  <div class="container">
    <div class="row">



          <div class="col-sm" *ngIf="selectedCity.code === '2'">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="msm1" (keyup)="Encriptar()"></textarea>
          </div>
          <div class="col-sm" *ngIf="selectedCity.code === '1' && alfa2.length !== 0">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="msm1" (keyup)="Encriptar()"></textarea>
          </div>
          <div class="col-sm" *ngIf="selectedCity.code === '1' && alfa2.length === 0">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="msm1" (keyup)="Encriptar()" disabled></textarea>
          </div>
          <div class="col-sm" >
            <img src="{{ruta_img}}" width="40%" height="80%">
          </div>
          <div class="col-sm" *ngIf="selectedCity.code === '1' && alfa2.length !== 0">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="msm2" (keyup)="Desencriptar()"></textarea>
          </div>
         
          <div class="col-sm" *ngIf="selectedCity.code === '1' && alfa2.length === 0">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="msm2" (keyup)="Desencriptar()" disabled></textarea>
          </div>          
         <div class="col-sm" *ngIf="selectedCity.code === '2'">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="msm2" (keyup)="Desencriptar2()"></textarea>
          </div>

    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <h1 style="color: white;"><b>ALFABETO NORMAL</b></h1>
      <div class="col-sm"></div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm"></div>

      <div class="col-sm-0" *ngFor="let x  of alfa">   
        <div class="content-section implementation">
            <div class="card-container p-d-flex">
                <div class="card styled-box-green" pRipple>{{x.letra}}</div>
            </div>
        </div>
      </div>

      <div class="col-sm"></div>
    </div>
  </div>


  
  <div class="container" style="margin-top: 3%;">
    <div class="row">
      <div class="col-sm"></div>
      <h1 style="color: white;"><b>ALFABETO ENCRIPTADO</b></h1>
      <div class="col-sm"></div>
    </div>
  </div>


  <div class="container" style="margin-top: 0%;">
    <div class="row">
      <div class="col-sm"></div>

      <div class="col-sm-0" *ngFor="let x  of alfa2" >   
        <div class="content-section implementation">
            <div class="card-container p-d-flex">
                <div class="card styled-box-purple" pRipple>{{x.letra}}</div>
            </div>
        </div>
      </div>

      <div class="col-sm"></div>
    </div>
  </div>


  
</div>


      
 <footer style="background-color: #000; padding: 1%; margin-top: 3%; color:white; text-align: center;">
   <h4>Cifrado Cesar y Polybius</h4>
 </footer>
      






</div>